<header
    class="w-full h-96 bg-[url('home_banner/0')] bg-cover bg-center flex justify-center items-center">
    <div class="flex flex-col justify-center items-center">
        <h1 class=" text-center text-5xl text-amber-200 font-bold drop-shadow-lg">El Lugar<br>
        <span class="text-amber-100 text-4xl">Para encontrando las fiestas</span>
        </h1>
        <p class="mt-5 text-center text-xl text-white">En su área y región</p>
    </div>
</header>