<!--Fiestas Pasadas-->
<div class="bg-white px-2 md:px-10 md:pb-10 md:pt-5 ">
  <!--Headline and view more-->
  <div class="flex flex-row justify-between items-center py-3">
    <!--Headline-->
    <div class="font-bold text-2xl">
      Fiestas Pasadas
    </div>
  </div>
  <!--Actual feed content-->
  <div class="flex flex-col pb-10" >
    <% @fiesta.limit(6).reverse_each do | fiestum | %>
      <div id="<%= dom_id fiestum %>" class="flex flex-col justify-start bg-white drop-shadow-md rounded-xl p-0 mx-2 mb-5">
        <%= render "bubble", fiestum: fiestum  %>
      </div>
    <% end %>

    <!--View more button-->
    <div class="flex flex-col justify-center bg-white drop-shadow-md rounded-xl text-center h-32 p-0 mx-2 mb-5">
      <div class="flex flex-row justify-center text-slate-500 hover:bg-slate-100 rounded-xl p-2 ">
        Ver más
      </div>
    </div>
  </div>
</div>