<!--Fiestas proximas section-->
<div class="bg-white px-2 md:px-10 md:pb-10 md:pt-5 ">
  <!--Headline and view more-->
  <div class="flex flex-row justify-between items-center py-3">
    <!--Headline-->
    <div class="font-bold text-2xl">
      Fiestas Proximas
    </div>
    <!--View More-->
    <div class="text-slate-500 hover:bg-slate-100 rounded-xl p-2">
      Ver más
    </div>
  </div>
  <!--Actual feed content-->
  <div class="flex flex-row justify-center">
    <div class="flex flex-row overflow-x-scroll pb-10 md:max-w-fit md:grid md:grid-cols-2 lg:grid-cols-3 md:justify-center md:place-items-center md:gap-3 md:overflow-y-auto" >
      <% @fiesta.last(6).reverse_each do | fiestum | %>
        <%= render "bubble", fiestum: fiestum %>
      <% end %>
    </div>
  </div>
</div>