<%= render 'navbar' %>
<%= render 'homebanner' %>
<h1 class="my-4 text-2xl font-bold text-center text-gray-700">
  Todos Fiestas Proximas
</h1>
<!--forked from Fiestas Pasadas-->
<div class="bg-white px-2 md:px-10 md:pb-10 md:pt-5 ">
  <!--Actual feed content-->
  <div class="flex flex-row justify-center">
    <div class="flex flex-col items-center pb-10 md:max-w-fit md:grid md:grid-cols-2 lg:grid-cols-3 md:justify-center md:place-items-center md:gap-3" >
      <% @fiesta.proximas.order(:fetcha).reverse_each do | fiestum | %>
        <%= render "bubble", fiestum: fiestum %>  
      <% end %>
    </div>
  </div>

</div>